[phases.setup]
nixPkgs = ["nodejs_22", "php82", "composer"]

[phases.install]
commands = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
commands = [
  "npm run build"
]
